/eBanking-cui/target/*
/eBanking-cui/classes/*
/eBanking-cui/.idea/*
/eBanking-cui/*.iml
/eBanking-cui/*.ipr
/eBanking-ws/target/*
/eBanking-ws/classes/*
/eBanking-ws/.idea/*
/eBanking-ws/*.iml
/eBanking-ws/*.ipr