<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:bean="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.ebanking.ccui.presentation.action"/>
    <context:component-scan base-package="com.ebanking.ccui.service.client.impl"/>
    <context:component-scan base-package="com.ebanking.ccui.security"/>

    <bean id="clientInfoForm" class="com.ebanking.ccui.presentation.form.ClientInfoForm"/>
    <bean id="clientCardsInfoForm" class="com.ebanking.ccui.presentation.form.ClientCardsInfoForm"/>
    <bean id="nbrbCurrencyRatesForm" class="com.ebanking.ccui.presentation.form.NBRBCurrencyRatesForm"/>
    <bean id="clientOperationHistoryForm" class="com.ebanking.ccui.presentation.form.ClientOpertaionHistoryForm"/>
    <bean id="ratesForm" class="com.ebanking.ccui.presentation.form.RatesForm"/>
    <bean id="retrieveClientForm" class="com.ebanking.ccui.presentation.form.RetrieveClientForm"/>
    <bean id="editClientForm" class="com.ebanking.ccui.presentation.form.EditClientForm"/>
    <bean id="cardAccountsForm" class="com.ebanking.ccui.presentation.form.CardAccountsForm"/>
    <bean id="accountForm" class="com.ebanking.ccui.presentation.form.AccountForm"/>
    <bean id="logForm" class="com.ebanking.ccui.presentation.form.LogForm"/>
    <bean id="corporationForm" class="com.ebanking.ccui.presentation.form.CorporationForm"/>

    <bean id="loginClientService" class="com.ebanking.ccui.service.client.impl.security.login.ClientLoginService"/>
    <bean id="nbrbCurrencyService" class="com.ebanking.ccui.service.client.impl.currency.nbrb.NBRBCurrencyService"/>
    <bean id="fetchClientAccountService" class="com.ebanking.ccui.service.client.impl.client.account.FetchAccountService"/>
    <bean id="clientCardsService" class="com.ebanking.ccui.service.client.impl.client.card.ClientCardsService"/>
    <bean id="ratesService" class="com.ebanking.ccui.service.client.impl.finance.RatesService"/>
    <bean id="retrieveClientService" class="com.ebanking.ccui.service.client.impl.client.retrieve.RetrieveClientService"/>
    <bean id="saveClientService" class="com.ebanking.ccui.service.client.impl.client.save.SaveClientService"/>
    <bean id="addCardService" class="com.ebanking.ccui.service.client.impl.card.add.AddCardService"/>
    <bean id="removeCardService" class="com.ebanking.ccui.service.client.impl.card.remove.RemoveCardService"/>
    <bean id="retrieveCardAccountService" class="com.ebanking.ccui.service.client.impl.card.get.RetrieveCardAccountService"/>
    <bean id="retrieveAccountService" class="com.ebanking.ccui.service.client.impl.account.RetrieveAccountService"/>
    <bean id="appLogService" class="com.ebanking.ccui.service.client.impl.log.AppLogService"/>
    <bean id="corporationService" class="com.ebanking.ccui.service.client.impl.corporation.CorporationService"/>
    <bean id="createAccountService" class="com.ebanking.ccui.service.client.impl.createAccount.CreateAccountService"/>
    <bean id="createCardAccountService" class="com.ebanking.ccui.service.client.impl.cardAccount.CreateCardAccountService"/>
    <bean id="operationHistoryService" class="com.ebanking.ccui.service.client.impl.history.OperationHistoryService"/>
    <bean id="saveRateService" class="com.ebanking.ccui.service.client.impl.rate.SaveRateService"/>
    <bean id="chargeService" class="com.ebanking.ccui.service.client.impl.charge.ChargeService"/>

    <bean name="LoginForwardAction" class="com.ebanking.ccui.presentation.action.LoginForward"/>
    <bean name="LogoutForwardAction" class="com.ebanking.ccui.presentation.action.LogoutForward"/>
    <bean name="SessionRecreationForwardAction" class="com.ebanking.ccui.presentation.action.SessionRecreationForwardAction"/>
    <bean name="NBRBCurrencyAction" class="com.ebanking.ccui.presentation.action.currency.NBRBCurrencyAction"/>
    <bean name="MainPageForwardAction" class="com.ebanking.ccui.presentation.action.MainPageForwardAction"/>
    <bean name="RetrieveClientAction" class="com.ebanking.ccui.presentation.action.client.RetrieveClientAction"/>

    <bean name="RatesAction" class="com.ebanking.ccui.presentation.action.finance.RatesAction"/>

    <bean name="EditClientForwardAction" class="com.ebanking.ccui.presentation.action.client.edit.EditClientForwardAction"/>
    <bean name="EditClientAction" class="com.ebanking.ccui.presentation.action.client.edit.EditClientAction"/>
    <bean name="SaveClientAction" class="com.ebanking.ccui.presentation.action.client.edit.SaveClientAction"/>

    <bean name="RetrieveCardsAction" class="com.ebanking.ccui.presentation.action.client.account.RetrieveCardsAction"/>
    <bean name="AddCardAction" class="com.ebanking.ccui.presentation.action.card.AddCardAction"/>
    <bean name="RemoveCardAction" class="com.ebanking.ccui.presentation.action.card.RemoveCardAction"/>
    <bean name="RetrieveCardAccountAction" class="com.ebanking.ccui.presentation.action.card.RetrieveCardAccountAction"/>
    <bean name="ViewAccountForwardAction" class="com.ebanking.ccui.presentation.action.client.account.ViewAccountForwardAction"/>

    <bean name="RetrieveAccountAction" class="com.ebanking.ccui.presentation.action.client.account.RetrieveAccountAction"/>

    <bean name="AppLogAction" class="com.ebanking.ccui.presentation.action.log.AppLogAction"/>

    <bean name="CorporationListAction" class="com.ebanking.ccui.presentation.action.corporation.CorporationListAction"/>
    <bean name="CorporationViewAction" class="com.ebanking.ccui.presentation.action.corporation.CorporationViewAction"/>

    <bean name="AddClientForwardAction" class="com.ebanking.ccui.presentation.action.client.edit.AddClientForwardAction"/>
    <bean name="CreateAccountAction" class="com.ebanking.ccui.presentation.action.client.account.CreateAccountAction"/>
    <bean name="CreateCardAccountAction" class="com.ebanking.ccui.presentation.action.card.CreateCardAccountAction"/>

    <bean name="BankAccountOperationHistoryAction" class="com.ebanking.ccui.presentation.action.bankAccount.BankAccountOperationHistoryAction"/>
    <bean name="SaveRateAction" class="com.ebanking.ccui.presentation.action.rate.SaveRateAction"/>

    <bean name="ChargeAction" class="com.ebanking.ccui.presentation.action.charge.ChargeAction"/>
</beans>