<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:bean="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.ebanking.cui.presentation.action"/>
    <context:component-scan base-package="com.ebanking.cui.service.client.impl"/>
    <context:component-scan base-package="com.ebanking.cui.security"/>

    <bean id="clientInfoForm" class="com.ebanking.cui.presentation.form.ClientInfoForm"/>
    <bean id="clientCardsInfoForm" class="com.ebanking.cui.presentation.form.ClientCardsInfoForm"/>
    <bean id="nbrbCurrencyRatesForm" class="com.ebanking.cui.presentation.form.NBRBCurrencyRatesForm"/>
    <bean id="mobilePaymentForm" class="com.ebanking.cui.presentation.form.payments.MobilePaymentForm"/>

    <bean id="loginClientService" class="com.ebanking.cui.service.client.impl.security.login.ClientLoginService"/>
    <bean id="nbrbCurrencyService" class="com.ebanking.cui.service.client.impl.currency.nbrb.NBRBCurrencyService"/>
    <bean id="fetchClientAccountService" class="com.ebanking.cui.service.client.impl.client.account.FetchAccountService"/>
    <bean id="clientCardsService" class="com.ebanking.cui.service.client.impl.client.card.ClientCardsService"/>
    <bean id="paymentService" class="com.ebanking.cui.service.client.impl.payment.PaymentService"/>
    <bean id="cardOperationHistoryService" class="com.ebanking.cui.service.client.impl.info.CardOperationHistoryService"/>

    <bean name="LoginForwardAction" class="com.ebanking.cui.presentation.action.LoginForward"/>
    <bean name="SessionRecreationForwardAction" class="com.ebanking.cui.presentation.action.SessionRecreationForwardAction"/>
    <bean name="NBRBCurrencyAction" class="com.ebanking.cui.presentation.action.currency.NBRBCurrencyAction"/>
    <bean name="MainPageForwardAction" class="com.ebanking.cui.presentation.action.MainPageForwardAction"/>
    <bean name="FetchClientAccountAction" class="com.ebanking.cui.presentation.action.client.FetchClientAccountAction"/>
    <bean name="ClientCardsAction" class="com.ebanking.cui.presentation.action.client.ClientCardsAction"/>

    <bean name="CardOperationHistoryAction" class="com.ebanking.cui.presentation.action.info.CardOperationHistoryAction"/>

    <bean name="OnlineInfoForwardAction" class="com.ebanking.cui.presentation.action.statement.OnlineInfoForwardAction"/>

    <bean name="PaymentActionForward" class="com.ebanking.cui.presentation.action.payment.PaymentForwardAction"/>

    <bean name="MobilePaymentForwardAction" class="com.ebanking.cui.presentation.action.payment.mobile.MobilePaymentForwardAction"/>
    <bean name="MobilePaymentAction" class="com.ebanking.cui.presentation.action.payment.mobile.MobilePaymentAction"/>
    <bean name="MobilePaymentReviewForwardAction" class="com.ebanking.cui.presentation.action.payment.mobile.MobilePaymentReviewForwardAction"/>
    <bean name="MobilePaymentAmountForwardAction" class="com.ebanking.cui.presentation.action.payment.mobile.MobilePaymentAmountForwardAction"/>
    <bean name="MobilePaymentSubmitAction" class="com.ebanking.cui.presentation.action.payment.mobile.MobilePaymentSubmitAction"/>


</beans>